---
version: 1
interactions:
- request:
    body: '{"username":"zia@securitygeek.io","password":"passwordzia","apiKey":"apiKeyHere","timestamp":"1660773784353"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/authenticatedSession
    method: POST
  response:
    body: '{"authType":"ADMIN_LOGIN","obfuscateApiKey":true,"passwordExpiryTime":-1,"passwordExpiryDays":-1,"source":"https://zsapi.zscalerthree.net"}'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/urlCategories
    method: GET
  response:
    body: '[{"superCategory":"USER_DEFINED", "id":"OTHER_ADULT_MATERIAL","urls":[],"dbCategorizedUrls":[],"customCategory":false,"editable":true,"description":"OTHER_ADULT_MATERIAL_DESC","type":"URL_CATEGORY","val":1,"customUrlsCount":0,"urlsRetainingParentCategoryCount":0,"customIpRangesCount":0,"ipRangesRetainingParentCategoryCount":0}]'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
