---
version: 1
interactions:
- request:
    body: '{"username":"zia-api@bd-hashicorp.com","password":"passwordzia","apiKey":"apiKeyHere","timestamp":"1660773772125"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalertwo.net/api/v1/authenticatedSession
    method: POST
  response:
    body: '{"authType":"ADMIN_LOGIN","obfuscateApiKey":true,"passwordExpiryTime":-1,"passwordExpiryDays":-1,"source":"https://zsapi.zscalerthree.net"}'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/urlFilteringRules
    method: GET
  response:
    body: '[{"id":413550,"accessControl":"READ_WRITE","name":"Block Inappropriate
      Content","order":2,"protocols":["ANY_RULE"],"urlCategories":["OTHER_ADULT_MATERIAL","ADULT_THEMES","LINGERIE_BIKINI","NUDITY","PORNOGRAPHY","SEXUALITY","ADULT_SEX_EDUCATION","K_12_SEX_EDUCATION","OTHER_DRUGS","GAMBLING","OTHER_ILLEGAL_OR_QUESTIONABLE","COPYRIGHT_INFRINGEMENT","COMPUTER_HACKING","QUESTIONABLE","PROFANITY","MATURE_HUMOR","ANONYMIZER","SOCIAL_ADULT"],"state":"ENABLED","rank":7,"requestMethods":["OPTIONS","GET","HEAD","POST","PUT","DELETE","TRACE","CONNECT","OTHER"],"blockOverride":false,"description":"Block
      all inappropriate content for all users.","labels":[{"id":87085,"name":"Example"}],"enforceTimeValidity":false,"cbiProfileId":0,"action":"BLOCK"}]'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
