# THIS IS AN AUTOMATED GENERATED TEST DATA.
# THE INFORMATION BELOW IS NOT VALID OR USED IN PRODUCTION SYSTEMS
---
version: 1
interactions:
- request:
    body: '{"username":"user@acme.com","password":"12334333322","apiKey":"apiKeyHere","timestamp":"1660686140893"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalertwo.net/api/v1/authenticatedSession
    method: POST
  response:
    body: '{"authType":"ADMIN_LOGIN","obfuscateApiKey":true,"passwordExpiryTime":-1,"passwordExpiryDays":-1,"source":"https://zsapi.zscalerthree.net"}'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/authSettings/exemptedUrls
    method: GET
  response:
    body: '{"urls":[".okta.com",".oktacdn.com",".mtls.oktapreview.com",".mtls.okta.com","d3l44rcogcb7iv.cloudfront.net","pac.zdxcloud.net",".windowsazure.com",".fedoraproject.org","login.windows.net","d32a6ru7mhaq0c.cloudfront.net",".kerberos.oktapreview.com",".oktapreview.com","login.zdxcloud.net","login.microsoftonline.com","smres.zdxcloud.net",".kerberos.okta.com"]}'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
