# THIS IS AN AUTOMATED GENERATED TEST DATA.
# THE INFORMATION BELOW IS NOT VALID OR USED IN PRODUCTION SYSTEMS
---
version: 1
interactions:
- request:
    body: '{"username":"user@acme.com","password":"12334333322","apiKey":"apiKeyHere","timestamp":"1660686140893"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalertwo.net/api/v1/authenticatedSession
    method: POST
  response:
    body: '{"authType":"ADMIN_LOGIN","obfuscateApiKey":true,"passwordExpiryTime":-1,"passwordExpiryDays":-1,"source":"https://zsapi.zscalerthree.net"}'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/adminUsers
    method: GET
  response:
    body: '[{"id":33938803,"loginName":"john.smith@securitygeek.io","userName":"John
      Smith","email":"john.smith@securitygeek.io","role":{"id":11521,"name":"Super
      Admin","isNameL10nTag":true,"extensions":{"adminRank":"0","roleType":"EXEC_INSIGHT_AND_ORG_ADMIN"}},"comments":"Administrator
      Group","adminScopescopeGroupMemberEntities":[],"adminScopeType":"DEPARTMENT","adminScopeScopeEntities":[{"id":25684245,"name":"Engineering"}],"isPasswordLoginAllowed":true,"isSecurityReportCommEnabled":true,"isServiceUpdateCommEnabled":true,"isProductUpdateCommEnabled":true,"pwdLastModifiedTime":1649517249,"name":"John
      Smith"}]'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
