# THIS IS AN AUTOMATED GENERATED TEST DATA.
# THE INFORMATION BELOW IS NOT VALID OR USED IN PRODUCTION SYSTEMS
---
version: 1
interactions:
- request:
    body: '{"username":"user@acme.com","password":"12334333322","apiKey":"apiKeyHere","timestamp":"1660686140893"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalertwo.net/api/v1/authenticatedSession
    method: POST
  response:
    body: '{"authType":"ADMIN_LOGIN","obfuscateApiKey":true,"passwordExpiryTime":-1,"passwordExpiryDays":-1,"source":"https://zsapi.zscalerthree.net"}'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/webDlpRules
    method: GET
  response:
    body: '[{"accessControl":"READ_WRITE","id":184221,"order":3,"protocols":["HTTPS_RULE","HTTP_RULE"],"rank":7,"description":"Test","locations":[{"id":43966027,"name":"AU
      - Sydney - Branch01 (other)"},{"id":36788696,"name":"AWS-CAN-ca-central-1-vpc-05c7f364cf47c2b93","deleted":true}],"locationGroups":[{"id":24326828,"name":"Corporate
      User Traffic Group"}],"groups":[{"id":24392492,"name":"Marketing"},{"id":26231231,"name":"Normal_Internet"},{"id":25684251,"name":"Sales"}],"departments":[{"id":25684245,"name":"Engineering"},{"id":29485508,"name":"Executive"},{"id":25658545,"name":"Finance"}],"users":[{"id":29309057,"name":"Adam
      Ashcroft(adam.ashcroft@securitygeek.io)"},{"id":29306493,"name":"Ajith Almond(ajith.almond@securitygeek.io)"},{"id":29309058,"name":"Albert
      Amin(albert.amin@securitygeek.io)"}],"urlCategories":[{"id":10,"name":"CORPORATE_MARKETING","isNameL10nTag":true},{"id":11,"name":"FINANCE","isNameL10nTag":true}],"dlpEngines":[{"id":61,"name":"PCI","isNameL10nTag":true}],"fileTypes":["PYTHON","BASH_SCRIPTS","SQL"],"cloudApplications":["BOXNET","AMAZONDRIVE","BITPORT_IO"],"minSize":0,"action":"ALLOW","state":"DISABLED","matchOnly":false,"icapServer":{},"withoutContentInspection":false,"name":"DLP
      PCI Rule-1","ocrEnabled":false,"zscalerIncidentReciever":true}]'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
