---
version: 1
interactions:
- request:
    body: '{"username":"zia@securitygeek.io","password":"passwordzia","apiKey":"apiKeyHere","timestamp":"1660773724803"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/authenticatedSession
    method: POST
  response:
    body: '{"authType":"ADMIN_LOGIN","obfuscateApiKey":true,"passwordExpiryTime":-1,"passwordExpiryDays":-1,"source":"https://zsapi.zscalerthree.net"}'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/greTunnels
    method: GET
  response:
    body: '[{"id":82023,"sourceIp":"61.68.118.237","primaryDestVip":{"id":36180,"virtualIp":"165.225.114.20","privateServiceEdge":false,"datacenter":"SYD3","latitude":-34.0,"longitude":152.0,"city":"Sydney","countryCode":"AU  ","region":"Oceania"},"secondaryDestVip":{"id":88049,"virtualIp":"165.225.114.21","privateServiceEdge":false,"datacenter":"SYD3","latitude":-34.0,"longitude":152.0,"city":"Sydney","countryCode":"AU  ","region":"Oceania"},"internalIpRange":"172.18.188.176","lastModificationTime":1640722670,"lastModifiedBy":{"id":25163058,"name":"ZIA-API"},"comment":"GRE
      Tunnel Created with Terraform","ipUnnumbered":false}]'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
