---
version: 1
interactions:
- request:
    body: '{"username":"zia@securitygeek.io","password":"passwordzia","apiKey":"apiKeyHere","timestamp":"1660773738053"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/authenticatedSession
    method: POST
  response:
    body: '{"authType":"ADMIN_LOGIN","obfuscateApiKey":true,"passwordExpiryTime":-1,"passwordExpiryDays":-1,"source":"https://zsapi.zscalerthree.net"}'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/locations?page=1&pageSize=1000
    method: GET
  response:
    body: '[{"id":32960775,"name":"AU - Sydney - Branch01","nonEditable":false,"parentId":0,"upBandwidth":0,"dnBandwidth":0,"overrideUpBandwidth":0,"overrideDnBandwidth":0,"sharedUpBandwidth":0,"sharedDownBandwidth":0,"unusedUpBandwidth":0,"unusedDnBandwidth":0,"country":"AUSTRALIA","language":"NONE","tz":"AUSTRALIA_SYDNEY","ipAddresses":["61.68.118.237"],"authRequired":true,"sslScanEnabled":false,"zappSslScanEnabled":false,"xffForwardEnabled":true,"otherSubLocation":false,"ecLocation":false,"surrogateIP":true,"idleTimeInMinutes":720,"displayTimeUnit":"HOUR","surrogateIPEnforcedForKnownBrowsers":false,"surrogateRefreshTimeInMinutes":0,"kerberosAuth":false,"digestAuthEnabled":false,"ofwEnabled":true,"ipsControl":true,"aupEnabled":false,"cautionEnabled":false,"aupBlockInternetUntilAccepted":false,"aupForceSslInspection":false,"aupTimeoutInDays":0,"childCount":2,"matchInChild":false,"staticLocationGroups":[],"dynamiclocationGroups":[{"id":43803051,"name":"SGIO-Dynamic-Group"},{"id":24326827,"name":"Unassigned
      Locations"}],"excludeFromDynamicGroups":false,"excludeFromManualGroups":false,"profile":"CORPORATE","description":"Created
      with Terraform"}]'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
