---
version: 1
interactions:
- request:
    body: '{"username":"zia@securitygeek.io","password":"passwordzia","apiKey":"apiKeyHere","timestamp":"1660773806570"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/authenticatedSession
    method: POST
  response:
    body: '{"authType":"ADMIN_LOGIN","obfuscateApiKey":true,"passwordExpiryTime":-1,"passwordExpiryDays":-1,"source":"https://zsapi.zscalerthree.net"}'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/ipSourceGroups
    method: GET
  response:
    body: '[{"id":1336204,"name":"consul-nginx","ipAddresses":["10.0.31.153","10.0.31.155","10.0.31.156"],"description":"Dynamic
      source ip group generated for service registered in Consul","creatorContext":"ZIA"}]'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
