---
version: 1
interactions:
- request:
    body: '{"username":"zia-api@bd-hashicorp.com","password":"XRfbFB@VFa66yqdWsRVM","apiKey":"doAqq6QoouoQ","timestamp":"1709236047661"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/authenticatedSession
    method: POST
  response:
    body: '{"authType":"ADMIN_LOGIN","obfuscateApiKey":true,"passwordExpiryTime":-1,"passwordExpiryDays":-1,"source":"https://zsapi.zscalerthree.net","readOnly":false}'
    headers:
      Content-Disposition:
      - attachment; filename="api.json"
      Content-Type:
      - application/json
      X-Zscaler-Mode:
      - read-write
    status: '200 '
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/dlpEngines?&pageSize=1000&page=1
    method: GET
  response:
    body: '[{"id":1,"name":"5 or more PII Identifiers","engineExpression":"((D39.S
      > 4) OR (D125.S > 4) OR (D118.S > 4) OR (D34.S > 4) OR (D123.S > 4) OR (D124.S
      > 4) OR (D36.S > 4) OR (D41.S > 4) OR (D35.S > 4) OR (D32.S > 4) OR (D127.S
      > 4) OR (D121.S > 4) OR (D126.S > 4) OR (D44.S > 4) OR ( (D51.S > 4) OR (D50.S
      > 4) OR (D33.S > 4) OR (D116.S > 4) OR (D120.S > 4) OR (D62.S > 4) OR (D40.S
      > 4) OR (D122.S > 4) ) )","customDlpEngine":true},{"id":2,"name":"5 or more
      Credit Card Numbers","engineExpression":"(D63.S > 4)","customDlpEngine":true},{"id":64,"predefinedEngineName":"CYBER_BULLY_ENG","engineExpression":"(D119.S
      > 0)","customDlpEngine":false,"description":"Detect self-harm & cyberbullying
      violations"},{"id":63,"predefinedEngineName":"HIPAA","engineExpression":"(D60.S
      > 0 AND D62.S > 5)","customDlpEngine":false,"description":"Detect HIPAA violations"},{"id":62,"predefinedEngineName":"GLBA","engineExpression":"(D61.S
      > 0 AND D62.S > 5)","customDlpEngine":false,"description":"Detect GLBA violations"},{"id":61,"predefinedEngineName":"PCI","engineExpression":"(D63.S
      > 5 AND D62.S > 5)","customDlpEngine":false,"description":"Detect PCI violations"},{"id":60,"predefinedEngineName":"OFFENSIVE_LANGUAGE","engineExpression":"(D48.S
      > 0)","customDlpEngine":false,"description":"Detect Offensive language"}]'
    headers:
      Content-Disposition:
      - attachment; filename="api.json"
      Content-Type:
      - application/json
      X-Zscaler-Mode:
      - read-write
    status: '200 '
    code: 200
    duration: ""
