---
version: 1
interactions:
- request:
    body: '{"username":"zia@securitygeek.io","password":"passwordzia","apiKey":"apiKeyHere","timestamp":"1660772262460"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/authenticatedSession
    method: POST
  response:
    body: '{"authType":"ADMIN_LOGIN","obfuscateApiKey":true,"passwordExpiryTime":-1,"passwordExpiryDays":-1,"source":"https://zsapi.zscalerthree.net"}'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/dlpDictionaries
    method: GET
  response:
    body: '[{"id":1,"name":"SGIO-EDM-Test","phrases":[],"customPhraseMatchType":"MATCH_ANY_CUSTOM_PHRASE_PATTERN_DICTIONARY","patterns":[],"nameL10nTag":false,"dictionaryType":"EXACT_DATA_MATCH","exactDataMatchDetails":[{"dictionaryEdmMappingId":61513,"schemaId":1,"primaryField":1,"secondaryFields":[2],"secondaryFieldMatchOn":"MATCHON_ALL"}],"idmProfileMatchAccuracyDetails":[],"proximity":0,"predefinedPhrases":[],"custom":true,"proximityLengthEnabled":false}]'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
