# THIS IS AN AUTOMATED GENERATED TEST DATA.
# THE INFORMATION BELOW IS NOT VALID OR USED IN PRODUCTION SYSTEMS
---
version: 1
interactions:
- request:
    body: '{"username":"user@acme.com","password":"12334333322","apiKey":"apiKeyHere","timestamp":"1660686140893"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalertwo.net/api/v1/authenticatedSession
    method: POST
  response:
    body: '{"authType":"ADMIN_LOGIN","obfuscateApiKey":true,"passwordExpiryTime":-1,"passwordExpiryDays":-1,"source":"https://zsapi.zscalerthree.net"}'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/staticIP
    method: GET
  response:
    body: '[{"id":99356,"ipAddress":"50.98.112.171","geoOverride":false,"latitude":49.0822999,"longitude":-122.771,"city":{"id":6159905,"name":"Surrey,
      British Columbia, Canada"},"routableIP":true,"lastModificationTime":1652749666,"lastModifiedBy":{"id":25163058,"name":"ZIA-API"},"comment":"SJC37
      - Static IP"}]'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
