---
version: 1
interactions:
- request:
    body: '{"username":"zia@securitygeek.io","password":"passwordzia","apiKey":"apiKeyHere","timestamp":"1660773756223"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/authenticatedSession
    method: POST
  response:
    body: '{"authType":"ADMIN_LOGIN","obfuscateApiKey":true,"passwordExpiryTime":-1,"passwordExpiryDays":-1,"source":"https://zsapi.zscalerthree.net"}'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/security
    method: GET
  response:
    body: '{"whitelistUrls":[".acme.com"]}'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/security/advanced
    method: GET
  response:
    body: '{"blacklistUrls":[".vodahelp.sytes.net",".riverwalktrader.co.za",".hectorcalle.com/listbul.exe",".gandhitoday.org/video/6JvA8",".glareestradad.com",".johnsonsmedia.it/img/ZBNk0xpRL8YEVl",".genccagdas.com.tr/assets/doWHIxLe7e",".movekochd.com",".sanyai-love.rmu.ac.th",".grafischer.ch/fit-well/wDPTwKtZPoWL12",".fpd.cl/cgi-bin/N/",".djunreal.co.uk/site/ApOKpFad",".steptransport2017b.com",".sloanavocadog.com",".caseytackleg.com",".hortonheavyg.com",".hectorcalle.com/093789.hta",".testmahoneyd.com",".hectorcalle.com/May-16_2022.zip",".nephewboring2013b.com",".fordlogisticss.com"]}'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
