---
version: 1
interactions:
- request:
    body: '{"username":"zia-api@bd-hashicorp.com","password":"passwordzia","apiKey":"apiKeyHere","timestamp":"1660773631855"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalertwo.net/api/v1/authenticatedSession
    method: POST
  response:
    body: '{"authType":"ADMIN_LOGIN","obfuscateApiKey":true,"passwordExpiryTime":-1,"passwordExpiryDays":-1,"source":"https://zsapi.zscalerthree.net"}'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/ipDestinationGroups
    method: GET
  response:
    body: '[{"id":1064383,"name":"AWS Workspaces - Health Check Servers","type":"DSTN_FQDN","addresses":["drp-icn.amazonworkspaces.com","drp-pdt.amazonworkspaces.com","drp-bom.amazonworkspaces.com","drp-pdx.amazonworkspaces.com","drp-iad.amazonworkspaces.com","drp-yul.amazonworkspaces.com","drp-gru.amazonworkspaces.com","drp-lhr.amazonworkspaces.com","drp-dub.amazonworkspaces.com","drp-fra.amazonworkspaces.com","drp-nrt.amazonworkspaces.com","drp-syd.amazonworkspaces.com","drp-sin.amazonworkspaces.com"],"description":"AWS
      Workspaces - Health Check Servers","creatorContext":"ZIA","ipCategories":[],"countries":[],"urlCategories":[],"ipAddresses":["drp-icn.amazonworkspaces.com","drp-pdt.amazonworkspaces.com","drp-bom.amazonworkspaces.com","drp-pdx.amazonworkspaces.com","drp-iad.amazonworkspaces.com","drp-yul.amazonworkspaces.com","drp-gru.amazonworkspaces.com","drp-lhr.amazonworkspaces.com","drp-dub.amazonworkspaces.com","drp-fra.amazonworkspaces.com","drp-nrt.amazonworkspaces.com","drp-syd.amazonworkspaces.com","drp-sin.amazonworkspaces.com"]}]'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
