---
version: 1
interactions:
- request:
    body: '{"username":"zia@securitygeek.io","password":"passwordzia","apiKey":"apiKeyHere","timestamp":"1660773778736"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/authenticatedSession
    method: POST
  response:
    body: '{"authType":"ADMIN_LOGIN","obfuscateApiKey":true,"passwordExpiryTime":-1,"passwordExpiryDays":-1,"source":"https://zsapi.zscalerthree.net"}'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/networkApplicationGroups
    method: GET
  response:
    body: '[{"id":774129,"name":"Microsoft Office365","networkApplications":["YAMMER","OFFICE365","SKYPE_FOR_BUSINESS","OUTLOOK","SHAREPOINT","SHAREPOINT_ADMIN","SHAREPOINT_BLOG","SHAREPOINT_CALENDAR","SHAREPOINT_DOCUMENT","SHAREPOINT_ONLINE","ONEDRIVE"],"description":"Microsoft
      Office365"}]'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
