---
version: 1
interactions:
- request:
    body: '{"username":"zia@securitygeek.io","password":"passwordzia","apiKey":"apiKeyHere","timestamp":"1660773407842"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/authenticatedSession
    method: POST
  response:
    body: '{"authType":"ADMIN_LOGIN","obfuscateApiKey":true,"passwordExpiryTime":-1,"passwordExpiryDays":-1,"source":"https://zsapi.zscalerthree.net"}'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/firewallFilteringRules
    method: GET
  response:
    body: '[{"accessControl":"READ_WRITE","enableFullLogging":false,"id":184222,"name":"Default
      Firewall Filtering Rule 2","order":-1,"rank":7,"action":"BLOCK_DROP","state":"ENABLED","destIpCategories":[],"resCategories":[],"destCountries":[],"predefined":false,"defaultRule":true}]'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
