# THIS IS AN AUTOMATED GENERATED TEST DATA.
# THE INFORMATION BELOW IS NOT VALID OR USED IN PRODUCTION SYSTEMS
---
version: 1
interactions:
- request:
    body: '{"username":"user@acme.com","password":"12334333322","apiKey":"apiKeyHere","timestamp":"1660686140893"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalertwo.net/api/v1/authenticatedSession
    method: POST
  response:
    body: '{"authType":"ADMIN_LOGIN","obfuscateApiKey":true,"passwordExpiryTime":-1,"passwordExpiryDays":-1,"source":"https://zsapi.zscalerthree.net"}'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://zsapi.zscalerthree.net/api/v1/users
    method: GET
  response:
    body: '[{"id":29309077,"name":"test","email":"test@securitygeek.io","groups":[{"id":26231231,"name":"Normal_Internet"},{"id":24392492,"name":"Marketing"}],"department":{"id":25658545,"name":"Finance"},"adminUser":false,"isNonEditable":false,"deleted":false}]'
    headers:
      Content-Type:
      - application/json
    status: '200 '
    code: 200
    duration: ""
