---
version: 1
interactions:
- request:
    body: client_id=1222clientid&client_secret=1222clientsec
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://config.private.zscaler.com/signin
    method: POST
  response:
    body: |-
      {
        "token_type" : "Bearer",
        "access_token" : "jwt",
        "expires_in" : "3600"
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216196257331281920/serviceEdgeGroup?pagesize=500
    method: GET
  response:
    body: '{"totalPages":"0", "list":[{"name": "Service Edge Group New York","description": "Service Edge Group New York","upgradeDay": "SUNDAY","upgradeTimeInSecs": "66600","latitude": "40.7128","longitude": "-73.935242","location": "New York, NY, USA","versionProfileId": "0"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
