# THIS IS AN AUTOMATED GENERATED TEST DATA.
# THE INFORMATION BELOW IS NOT VALID OR USED IN PRODUCTION SYSTEMS
---
version: 1
interactions:
- request:
    body: client_id=1222clientid&client_secret=1222clientsec
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://config.private.zscaler.com/signin
    method: POST
  response:
    body: |-
      {
        "token_type" : "Bearer",
        "access_token" : "jwt",
        "expires_in" : "3600"
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/policySet/rules/policyType/ISOLATION_POLICY?page=1&pagesize=500
    method: GET
  response:
    body: '{"totalPages":"1","totalCount":"0","list":[{"id":"216199618143212400","modifiedTime":"1705066939","creationTime":"1675812458","modifiedBy":"216199618143191053","name":"Default_Rule","description":"This
      is the default Isolation Policy rule","ruleOrder":"1","priority":"1","policyType":"5","operator":"AND","conditions":[{"id":"3794594","modifiedTime":"1675812458","creationTime":"1675812458","modifiedBy":"72057594037930840","operator":"OR","operands":[{"id":"3794595","creationTime":"1675812458","modifiedBy":"72057594037930840","objectType":"CLIENT_TYPE","lhs":"id","rhs":"zpn_client_type_exporter","name":"zpn_client_type_exporter"}]}],"action":"BYPASS_ISOLATE","defaultRule":true,"defaultRuleName":"Default_Rule"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
