---
version: 1
interactions:
- request:
    body: client_id=1222clientid&client_secret=1222clientsec
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://config.private.zscaler.com/signin
    method: POST
  response:
    body: |-
      {
        "token_type" : "Bearer",
        "access_token" : "jwt",
        "expires_in" : "3600"
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216196257331281920/policySet/rules/policyType/TIMEOUT_POLICY?pagesize=500
    method: GET
  response:
    body: '{"totalPages":"1","list":[{"id":"216196257331281927","modifiedTime":"1659634963","modifiedBy":"216196257331282070","name":"Default_Rule2","description":"This
      is the default Timeout Policy rule","ruleOrder":"1","priority":"1","policyType":"2","operator":"AND","action":"RE_AUTH","reauthTimeout":"-1","reauthIdleTimeout":"-1","customMsg":"Your
      access to internal Applications has expired","defaultRuleName":"Default_Rule2","defaultRule":false}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
