---
version: 1
interactions:
- request:
    body: client_id=1222clientid&client_secret=1222clientsec
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://config.private.zscaler.com/signin
    method: POST
  response:
    body: |-
      {
        "token_type" : "Bearer",
        "access_token" : "jwt",
        "expires_in" : "3600"
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216196257331281920/inspectionProfile?pagesize=500
    method: GET
  response:
    body: '{"totalPages":"1","list":[{"id":"216196257331307780","modifiedTime":"1660684553","creationTime":"1660684553","modifiedBy":"216196257331282070","name":"Example","description":"Example","paranoiaLevel":"2","globalControlActions":["CUSTOM:NONE","PREDEFINED:PASS","OVERRIDE_ACTION:COMMON"],"controlsInfo":[{"controlType":"PREDEFINED","count":"7"}],"incarnationNumber":"1","commonGlobalOverrideActionsConfig":{"PREDEF_CNTRL_GLOBAL_ACTION":"PASS","IS_OVERRIDE_ACTION_COMMON":"TRUE"}}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
