# THIS IS AN AUTOMATED GENERATED TEST DATA.
# THE INFORMATION BELOW IS NOT VALID OR USED IN PRODUCTION SYSTEMS
---
version: 1
interactions:
- request:
    body: client_id=1222clientid&client_secret=1222clientsec
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://config.private.zscaler.com/signin
    method: POST
  response:
    body: |-
      {
        "token_type" : "Bearer",
        "access_token" : "jwt",
        "expires_in" : "3600"
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216196257331281920/policySet/rules/policyType/ACCESS_POLICY?pagesize=500
    method: GET
  response:
    body: '{"totalPages":"1","list":[{"id":"216196257331301308","modifiedTime":"1646791911","creationTime":"1646791911","modifiedBy":"216196257331301304","name":"test name","description":"Automatically created by Zscaler Deception API for
      whiskeygolf","ruleOrder":"1","priority":"1","policyType":"1","operator":"AND","conditions":[{"id":"1440536","modifiedTime":"1646791911","creationTime":"1646791911","modifiedBy":"216196257331301304","operator":"OR","negated":false,"operands":[{"id":"1440537","creationTime":"1646791911","modifiedBy":"216196257331301304","objectType":"APP_GROUP","lhs":"id","rhs":"216196257331301307","name":"test name"}]}],"action":"ALLOW","appServerGroups":[{"id":"216196257331301306","creationTime":"1646791911","modifiedBy":"216196257331301304","name":"test name","enabled":true,"description":"Automatically created by Zscaler Deception
      API for whiskeygolf","configSpace":"DEFAULT","dynamicDiscovery":true}],"defaultRule":false,"appConnectorGroups":[{"id":"216196257331301305","modifiedTime":"1646874488","creationTime":"1646791910","modifiedBy":"216196257331281958","name":"test name","enabled":true,"description":"Automatically created by Zscaler Deception
      API for whiskeygolf","versionProfileId":"2","overrideVersionProfile":false,"location":"Mumbai,
      Maharashtra, India","dnsQueryType":"IPV4_IPV6","cityCountry":"Mumbai, IN","countryCode":"IN","lssAppConnectorGroup":false}]}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
