---
version: 1
interactions:
- request:
    body: client_id=1222clientid&client_secret=1222clientsec
    form:
      client_id:
      - 1222clientid
      client_secret:
      - 1222clientsec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://config.private.zscaler.com/signin
    method: POST
  response:
    body: |-
      {
        "token_type" : "Bearer",
        "access_token" : "jwt",
        "expires_in" : "3600"
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216196257331281920/server?pagesize=500
    method: GET
  response:
    body: '{"totalPages":"1","list":[{"id":"216196257331307767","creationTime":"1660235182","modifiedBy":"216196257331282070","name":"Zscaler
      Terraformer","address":"192.168.1.1","enabled":true,"description":"Zscaler
      Terraformer","configSpace":"DEFAULT"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
