---
version: 1
interactions:
- request:
    body: client_id=1222clientid&client_secret=1222clientsec
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://config.private.zscaler.com/signin
    method: POST
  response:
    body: |-
      {
        "token_type" : "Bearer",
        "access_token" : "jwt",
        "expires_in" : "3600"
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216196257331281920/serverGroup?pagesize=500
    method: GET
  response:
    body: '{"totalPages":"1","list":[{"creationTime":"1646791911","modifiedBy":"216196257331301304","id":"216196257331301306","enabled":true,"name":"Zscaler
      Deception","description":"Automatically created by Zscaler Deception API for
      whiskeygolf","applications":[{"id":"216196257331301317","name":"Zscaler Deception"}],"ipAnchored":false,"configSpace":"DEFAULT","dynamicDiscovery":true,"appConnectorGroups":[{"id":"216196257331301305","modifiedTime":"1646874488","creationTime":"1646791910","modifiedBy":"216196257331281958","name":"Zscaler
      Deception","enabled":true,"description":"Automatically created by Zscaler Deception
      API for whiskeygolf","versionProfileId":"2","overrideVersionProfile":false,"location":"Mumbai,
      Maharashtra, India","dnsQueryType":"IPV4_IPV6","cityCountry":"Mumbai, IN","countryCode":"IN","lssAppConnectorGroup":false}]}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
