---
version: 1
interactions:
- request:
    body: client_id=1222clientid&client_secret=1222clientsec
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://config.private.zscaler.com/signin
    method: POST
  response:
    body: |-
      {
        "token_type" : "Bearer",
        "access_token" : "jwt",
        "expires_in" : "3600"
      }
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216196257331281920/application?pagesize=500
    method: GET
  response:
    body: '{"totalPages":"1","list":[{"commonAppsDto":{"appsConfig":[{"id": "11","AppTypes":["INSPECT"]}]},"creationTime":"1660327173","modifiedBy":"216196257331281958","id":"216196257331307768","domainNames":["test.acme.com"],"name":"Example","serverGroups":[{"id":"216196257331307753","creationTime":"1660179951","modifiedBy":"216196257331282070","name":"Example","enabled":true,"description":"Example","configSpace":"DEFAULT","dynamicDiscovery":true}],"enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["80","80"],"tcpPortRange":[{"from":"80","to":"80"}],"doubleEncrypt":false,"configSpace":"DEFAULT","bypassType":"NEVER","healthCheckType":"DEFAULT","icmpAccessType":"NONE","isCnameEnabled":true,"ipAnchored":false,"healthReporting":"ON_ACCESS","tcpKeepAlive":"0","selectConnectorCloseToApp":false,"segmentGroupId":"216196257331307750","segmentGroupName":"Example"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
