---
version: 1
interactions:
- request:
    body: client_id=1222clientid&client_secret=1222clientsec
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://config.private.zscaler.com/signin
    method: POST
  response:
    body: |-
      {
        "token_type" : "Bearer",
        "access_token" : "jwt",
        "expires_in" : "3600"
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup?pagesize=500
    method: GET
  response:
    body: '{"totalPages":"1","list":[{"id":"216196257331301307","creationTime":"1646791911","modifiedBy":"216196257331301304","name":"test name","description":"Automatically created by Zscaler Deception API for
      whiskeygolf","enabled":true,"applications":[{"id":"216196257331301317","creationTime":"1646798682","modifiedBy":"216196257331301304","name":"test name","domainName":"swift-35.securitygeek.io","domainNames":["swift-35.securitygeek.io","10.10.10.100"],"description":"Created
      by Zscaler Deception. Do not edit","enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["1","52","54","65535"],"udpPortRanges":["1","52","54","65535"],"doubleEncrypt":false,"healthCheckType":"NONE","icmpAccessType":"NONE","bypassType":"NEVER","configSpace":"DEFAULT","ipAnchored":false,"tcpKeepAlive":"0","tcpPortRange":[{"from":"1","to":"52"},{"from":"54","to":"65535"}],"udpPortRange":[{"from":"1","to":"52"},{"from":"54","to":"65535"}]}],"policyMigrated":true,"configSpace":"DEFAULT","tcpKeepAliveEnabled":"0"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
