on: [pull_request]

permissions:
  contents: read
  pull-requests: write

name: Lint
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # needed for `only-new-issues` to compare diffs
      - name: install go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: go1.24-${{ hashFiles('**/go.sum') }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          only-new-issues: true
          skip-cache: true
